<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Users</title>
</head>
<body>
<h1>All the Users</h1>
<table class="table table-striped table-sm table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.age}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div id="line"></div>
<h1>Add a User</h1>
<form action="/create" method="POST" class="row justify-content-md-center">
    {% csrf_token %}
    <div class="col-auto">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" class="form-row">
    </div>
    <div class="col-auto">
        <label for="last_name" >Last Name</label>
        <input type="text" id="last_name" name="last_name" class="form-row">
    </div>
    <div class="w-100"></div>
    <div class="col-auto"> 
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-row">
    </div>
    <div class="col-auto">
        <label for="age">Age</label>
        <input type="text" id="age" name="age" class="form-row">
    </div>
    <div class="col-md-6 offset-md-3">
        <button class="btn btn-outline-primary">Add</button>
    </div>
</form>

</body>
</html>